[submodule "Scripts/mapRestriction"]
	path = Scripts/mapRestriction
	url = https://github.com/zeusops/Arma3MapRestriction
[submodule "Scripts/EMPmultiplayer"]
	path = Scripts/EMPmultiplayer
	url = https://github.com/kasteelharry/Arma3EMPmultiplayer
